<div>
    <p class="c15"><span class="c6"></span></p>
    <p class="c23"><span class="c6">T&eacute;rminos y Condiciones de Uso de Tenlow</span></p>
    <p class="c3"><span class="c1">Desde Tenlow somos claros y transparentes, por eso, aunque sabemos que las
            formalidades legales son importantes, te las resumimos de la forma m&aacute;s pr&aacute;ctica posible para
            que puedas comenzar lo antes posible a tenerlow ;)</span></p>
    <p class="c8"><span class="c6">&iquest;Qui&eacute;nes somos?</span></p>
    <p class="c3"><span class="c9">Tenlow Web, S.L. (en adelante &ldquo;</span><span class="c13 c24">Tenlow</span><span
            class="c1">&rdquo;) somos la empresa que gestiona este Sitio Web. Nuestra sede est&aacute; en la Calle Marie
            Curie 7, Edificio Beta, Planta 7, A&#769;tico 4. Parque Empresarial Rivas Futura, 28521 Rivas, Madrid,
            Espa&ntilde;a. </span></p>
    <p class="c3"><span class="c9">Nos puedes encontrar inscritos en el Registro Mercantil de Madrid con NIF
        </span><span class="c12">ESB44934156</span><span class="c1">.</span></p>
    <p class="c8"><span class="c6">&iquest;Qu&eacute; es Tenlow?</span></p>
    <p class="c3"><span class="c1">Tenlow es un espacio accesible a todo el p&uacute;blico, cuyo fin es publicar y
            encontrar anuncios de alquiler de objetos entre particulares. Tenlow se limita a facilitar el contacto entre
            los usuarios que anuncian un objeto para su alquiler y los usuarios que los buscan, creando una experiencia
            de usuario excepcional. Tenlow no interviene en los alquileres que se puedan pactar, ni ofrece servicios de
            alquiler de objetos propios. </span></p>
    <p class="c3"><span class="c1">En este sentido, Tenlow act&uacute;a como un mero intermediario entre el usuario que
            quiere alquilar un objeto, y el propietario de dicho objeto. </span></p>
    <p class="c8"><span class="c6">&iquest;Qu&eacute; puedes encontrar en Tenlow?</span></p>
    <p class="c3"><span class="c1">Puedes navegar por nuestra Web y echar un ojo a los anuncios disponibles,
            registrarte, publicar tus objetos en alquiler, alquilar objetos a sus propietarios, guardar tus anuncios y
            perfiles favoritos, adem&aacute;s de contactar con propietarios, as&iacute; como contactar con
            nosotros.</span></p>
    <p class="c3"><span class="c1">Si quieres anunciar un objeto para su alquiler, te recomendamos que leas
            detalladamente nuestras Condiciones para anunciantes al final de este documento. </span></p>
    <p class="c8"><span class="c6">&iquest;Qui&eacute;n es el titular del contenido de la Web?</span></p>
    <p class="c3"><span class="c1">Tenlow es titular de todo el contenido, im&aacute;genes, marcas, logos, videos,
            textos etc. que aparecen en la Web, o bien ha obtenido el permiso de terceros titulares de los mismos para
            su publicaci&oacute;n en el Sitio Web de Tenlow. Como Anunciante, autorizas a Tenlow a mostrar tus anuncios
            en la web hasta que lo des de baja, y te haces responsable de que el contenido publicado te pertenece o
            tienes permiso para su publicaci&oacute;n.</span></p>
    <p class="c30"><span class="c6">T&eacute;rminos y Condiciones de Uso de Tenlow</span></p>
    <p class="c8"><span class="c6">1. Objeto e informaci&oacute;n general</span></p>
    <p class="c7"><span class="c9">Los presentes T&eacute;rminos y Condiciones regular&aacute;n el acceso y uso por
            parte de los usuarios (en adelante, &ldquo;</span><span class="c13 c24">Usuarios</span><span
            class="c9">&rdquo;) del sitio web www.tenlow.es (en adelante, el &ldquo;</span><span class="c13 c24">Sitio
            Web</span><span class="c9">&rdquo;), titularidad de </span><span class="c13">TENLOW WEB S.L.</span><span
            class="c9">&nbsp;(en adelante, &ldquo;</span><span class="c13 c24">Tenlow</span><span class="c1">&rdquo;),
            con N.I.F. ESB44934156 y domicilio en Calle Marie Curie 7, Edificio Beta, Planta 7, A&#769;tico 4. Parque
            Empresarial Rivas Futura, 28521 Rivas, Madrid, Espa&ntilde;a.</span></p>
    <p class="c7"><span class="c9">El Usuario puede contactar con Tenlow a trav&eacute;s de un correo electr&oacute;nico
            remitido a la direcci&oacute;n: </span><span class="c0"><a class="c19"
                href="mailto:info@tenlow.es">info@tenlow.es</a></span><span class="c27 c21">&nbsp;</span></p>
    <p class="c7"><span class="c2">Mediante la aceptaci&oacute;n de los T&eacute;rminos y Condiciones, el Usuario se
            compromete a actuar en todo momento de conformidad con las disposiciones establecidas en el clausulado del
            presente texto legal, los&nbsp;cuales definen los derechos y obligaciones de </span><span
            class="c9">Tenlow</span><span class="c2">&nbsp;y el&#8239;Usuario a prop&oacute;sito de los Servicios
            accesibles a trav&eacute;s&#8239;del Sitio Web. </span></p>
    <p class="c7"><span class="c2">Estos son los &uacute;nicos T&eacute;rminos y Condiciones aplicables al uso del Sitio
            Web para Usuarios, sin perjuicio de que para determinados servicios podr&aacute;n existir condiciones
            particulares que sustituyan a cualesquiera otras condiciones.</span></p>
    <p class="c7"><span class="c9">El presente Sitio Web ha sido desarrollado con la finalidad de ofrecer a los Usuarios
            una plataforma online que permite a los usuarios publicar anuncios de ofertas para el alquiler de bienes
            muebles de su propiedad (en adelante, los &lsquo;</span><span
            class="c13">&rsquo;Objetos&rsquo;&rsquo;</span><span class="c9">), as&iacute; como facilitar la
            comunicaci&oacute;n entre los Usuarios anunciantes y los Usuarios interesados en alquilar los Objetos
            anunciados (en adelante, el &lsquo;</span><span class="c13">&rsquo;Servicio&rsquo;&rsquo;</span><span
            class="c9">&nbsp;o los &lsquo;</span><span class="c13">&rsquo;Servicios&rsquo;&rsquo;</span><span
            class="c1">).</span></p>
    <p class="c7"><span class="c1">Tenlow se reserva el derecho a actualizar y/o modificar los T&eacute;rminos y
            Condiciones en cualquier momento, notificando a los usuarios acerca de cualquier cambio material en los
            T&eacute;rminos y Condiciones. </span></p>
    <p class="c10 c14"><span class="c6">2. &nbsp;Funcionamiento del Sitio Web y obligaciones de los Usuarios</span></p>
    <p class="c3"><span class="c6">Acceso y Registro</span></p>
    <p class="c7"><span class="c1">Para poder utilizar los Servicios ofrecidos en el Sitio Web, es necesario que el
            Usuario se registre de forma previa, aceptando los presentes T&eacute;rminos y Condiciones y la
            Pol&iacute;tica de Privacidad y de cookies.</span></p>
    <p class="c3"><span class="c1">El Usuario declara que los datos proporcionados son exactos, actuales y veraces,
            absteni&eacute;ndose de crear cuentas con datos de terceros sin su consentimiento.</span></p>
    <p class="c3"><span class="c1">La Cuenta ser&aacute; personal e intransferible, proporcion&aacute;ndose una Cuenta
            por Usuario.</span></p>
    <p class="c3"><span class="c1">En el caso de p&eacute;rdida de acceso o contrase&ntilde;a podr&aacute; recuperarla
            mediante los medios establecidos para ello. El Usuario se abstendr&aacute; de crear m&aacute;s de una cuenta
            por Usuario para beneficiarse de promociones del Servicio de Tenlow o para evitar el pago de fee de
            anunciantes, entre otros.</span></p>
    <p class="c3"><span class="c1">El Usuario registrado ser&aacute; responsable en todo momento de su cuenta y
            contrase&ntilde;a para acceder a la misma, asumiendo la responsabilidad de los da&ntilde;os y perjuicios que
            pueda causar el uso indebido de su cuenta. Por lo tanto, debe informar inmediatamente a Tenlow en caso de
            que tenga motivos para creer que su Cuenta est&aacute; siendo utilizada sin su consentimiento.</span></p>
    <p class="c7"><span class="c1">En relaci&oacute;n con lo anterior, Tenlow se reserva el derecho a denegar cualquier
            intento de acceso al Sitio Web, eliminar o modificar contenidos, o cancelar la prestaci&oacute;n de
            Servicios en los casos en los que se produzca una utilizaci&oacute;n incorrecta del Sitio Web, pudiendo
            adem&aacute;s ejercer todas las acciones legales que pudieran corresponder, siendo el Usuario responsable de
            los gastos que pudiera ocasionar dichos actos, as&iacute; como de los da&ntilde;os y perjuicios ocasionados.
            A su discreci&oacute;n, Tenlow tambi&eacute;n podr&aacute; excluir Usuarios e incluso dejar de prestar total
            o parcialmente el Servicio cuando as&iacute; lo considere oportuno para mejorar la operativa del Servicio
            y/o del resto de los Usuarios.</span></p>
    <p class="c7"><span class="c6">Servicios </span></p>
    <p class="c7"><span class="c9">Tenlow ofrece a los Usuarios una plataforma online que permite publicar anuncios de
            ofertas para el alquiler de objetos, as&iacute; como facilitar la comunicaci&oacute;n entre los Usuarios
            anunciantes y los Usuarios interesados en alquilar los objetos anunciados.</span></p>
    <p class="c7"><span class="c1">El precio que consta en los anuncios publicados no puede entenderse como oferta
            comercial ofrecida por Tenlow. En ning&uacute;n caso puede entenderse que Tenlow es parte del Objeto
            ofertado por los Anunciantes. &nbsp;</span></p>
    <p class="c7"><span class="c1">Los Usuarios reconocen que el arrendamiento de los Objetos se regir&aacute; por las
            condiciones de precio, duraci&oacute;n, uso, derecho a compra y devoluci&oacute;n, entre otras que hayan
            pactado las partes. </span></p>
    <p class="c7"><span class="c6">M&eacute;todos de Pago</span></p>
    <p class="c7"><span class="c1">Los Usuarios pueden proceder al pago a trav&eacute;s de los m&eacute;todos
            habilitados para ello en la plataforma de Tenlow. El proceso de los pagos es realizado por la pasarela de
            pagos gestionada por BBVA.</span></p>
    <p class="c7"><span class="c1">Tenlow no presta servicios financieros, de pago ni de intermediaci&oacute;n en la
            prestaci&oacute;n de los mismos. Al efectuar cualquier pago, el Usuario acepta que los mismos se rigen por
            los T&eacute;rminos y Condiciones del BBVA.</span></p>
    <p class="c7"><span class="c1">El Usuario comprende que el pago ser&aacute; retenido hasta la efectiva entrega del
            Objeto, por un plazo m&aacute;ximo de 7 d&iacute;as, tras la posesi&oacute;n del Objeto por parte del
            Arrendatario y su conformidad con el mismo.</span></p>
    <p class="c8"><span class="c6">3. Condiciones de uso</span></p>
    <p class="c3"><span class="c1">El Usuario se obliga, con car&aacute;cter general, a utilizar el Sitio Web de forma
            diligente, de conformidad con la ley, la moral, el orden p&uacute;blico y lo dispuesto en estos
            T&eacute;rminos y Condiciones, y deber&aacute; asimismo abstenerse de utilizarlos en cualquier forma que
            pueda impedir, da&ntilde;ar o deteriorar el normal funcionamiento y disfrute del Sitio Web por parte de los
            usuarios o que pudiera lesionar o causar da&ntilde;os a los bienes y derechos de Tenlow, sus usuarios o de
            cualquier tercero. Sin limitaci&oacute;n, los Usuarios se comprometen a no utilizar dichos Contenidos o
            Servicios para:</span></p>
    <ul class="c11 lst-kix_list_6-0 start">
        <li class="c4 li-bullet-0"><span class="c1">Hacer uso no autorizado o fraudulento del Sitio Web, incluyendo,
                pero no limitado al uso de bots, rastreadores, extractores de contenido, acceso ilegal, descifrado,
                descompilaci&oacute;n o ingenier&iacute;a inversa de ning&uacute;n software o hardware proporcionado por
                el Sitio Web de Tenlow.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">Utilizar el Sitio Web para fines il&iacute;citos, ilegales y/o
                contrarios a lo dispuesto en los presentes T&eacute;rminos y Condiciones, lesivos de los derechos e
                intereses de terceros, o que de cualquier forma puedan da&ntilde;ar, inutilizar, sobrecargar o impedir
                el normal uso o disfrute del Sitio Web</span></li>
        <li class="c4 li-bullet-0"><span class="c1">Difundir contenido racista, xen&oacute;fobo, pornogr&aacute;fico, de
                apolog&iacute;a del terrorismo, conflicto armado, incitaci&oacute;n al odio o que atenten contra los
                derechos humanos, entre otros.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">No poner a disposici&oacute;n de terceros cualquier tipo de
                informaci&oacute;n, elemento o contenido que atente contra los derechos fundamentales y las libertades
                p&uacute;blicas reconocidos constitucionalmente y en los tratados internacionales.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">No utilizar los datos que pudiera obtener del Sitio Web, en concreto
                de otros Usuarios, para fines publicitarios no solicitados, incluido, pero no limitado, al env&iacute;o
                de spam, mail en cadena, o cualquier otra forma de comunicaci&oacute;n comercial sin la
                autorizaci&oacute;n para ello.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">No introducir o difundir cualquier informaci&oacute;n y/o contenido
                sobre los Objetos que sea falsa, enga&ntilde;osa o que pueda inducir a error a otros usuarios
                interesados en su alquiler.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">No suplantar a otros Usuarios del Servicio ni obtener y/o transmitir
                los datos de acceso a la cuenta y contrase&ntilde;a a ning&uacute;n tercero sin el consentimiento de
                Tenlow.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">No difundir, transmitir o poner a disposici&oacute;n de terceros
                cualquier tipo de informaci&oacute;n, elemento o contenido sin autorizaci&oacute;n de los titulares de
                los derechos de propiedad intelectual e industrial que puedan recaer sobre tal informaci&oacute;n,
                elemento o contenido. Incluyendo fotos de Objetos obtenidas de otros Sitios Web que no pertenezcan al
                Usuario.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">No difundir, transmitir o poner a disposici&oacute;n de terceros,
                fotograf&iacute;as ni cualquier dato de personas menores de edad.</span></li>
        <li class="c3 c25 li-bullet-0"><span class="c1">Publicar opiniones o valoraciones falsas o de alquileres no
                efectuados, que pueda perjudicar al Usuario anunciante y/o dar lugar a la confusi&oacute;n de otros
                Usuarios Interesados.</span></li>
    </ul>
    <p class="c3"><span class="c9">Si el Usuario observa o sospecha de un uso contrario a estos T&eacute;rminos y
            Condiciones, o de las Condiciones para anunciantes, o si tiene conocimiento de que se est&aacute;
            produciendo una vulneraci&oacute;n de un derecho de Tenlow o de terceros, debe ponerlo en conocimiento de
            Tenlow mediante correo electr&oacute;nico a la direcci&oacute;n</span><span class="c27">&nbsp;</span><span
            class="c0"><a class="c19" href="mailto:legal@tenlow.es">legal@tenlow.es</a></span></p>
    <p class="c3"><span class="c1">Tenlow se reserva el derecho de exclusi&oacute;n del Usuario impidiendo el uso del
            Servicio, ya sea de forma temporal o definitiva, a cualquier Usuario que infrinja cualquiera de las normas
            establecidas en estos T&eacute;rminos y Condiciones, la ley o la moral. </span></p>
    <p class="c8"><span class="c6">4. Exclusi&oacute;n de responsabilidad</span></p>
    <p class="c3"><span class="c1">Tenlow no es propietaria de ninguno de los Objetos anunciados a trav&eacute;s del
            Sitio Web, ni tampoco puede ser considerada parte del arrendamiento llevado a cabo exclusivamente entre los
            Usuarios, en calidad de arrendadores y arrendatarios.</span></p>
    <p class="c3"><span class="c1">Tenlow no dispone de los Objetos anunciados, ni valida la adecuaci&oacute;n de los
            mismos conforme a las descripciones de los anuncios que los Usuarios publican a trav&eacute;s del Servicio,
            por lo que Tenlow no ser&aacute; responsable, directa ni indirectamente, ni subsidiariamente, de los
            da&ntilde;os y perjuicios de cualquier naturaleza derivados de la utilizaci&oacute;n y contrataci&oacute;n
            de los contenidos y de las actividades de los Usuarios y/o de terceros a trav&eacute;s del Servicio
            as&iacute; como de la falta de licitud, fiabilidad, utilidad, veracidad, exactitud, exhaustividad y
            actualidad de los mismos.</span></p>
    <p class="c3"><span class="c1">Con car&aacute;cter enunciativo, y en ning&uacute;n caso limitativo, Tenlow no
            ser&aacute; responsable por los da&ntilde;os y perjuicios de cualquier naturaleza derivados de:</span></p>
    <ul class="c11 lst-kix_list_1-0 start">
        <li class="c4 li-bullet-0"><span class="c1">La utilizaci&oacute;n que los Usuarios hagan del Servicio ni por el
                estado, origen, posible inexactitud, o posible falsedad de los datos proporcionados por los Usuarios ni
                de los Objetos anunciados a trav&eacute;s del Servicio de Tenlow.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">Los contenidos, informaciones, opiniones y manifestaciones de
                cualquier Usuario o de terceras personas o entidades que se comuniquen o exhiban a trav&eacute;s del
                Servicio incluyendo las opiniones de los Objetos.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">La utilizaci&oacute;n que los Usuarios puedan hacer de los
                materiales del Servicio, ya sean prohibidos o permitidos, en infracci&oacute;n de los derechos de
                propiedad intelectual y/o industrial, informaci&oacute;n confidencial, de contenidos del Servicio o de
                terceros.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">La realizaci&oacute;n de actos de competencia desleal y publicidad
                il&iacute;cita.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">La eventual p&eacute;rdida de datos de los Usuarios por causa no
                atribuible al Servicio.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">La indisponibilidad, errores, fallos de acceso y falta de
                continuidad del Servicio.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">Los fallos o incidencias que pudieran producirse en las
                comunicaciones, borrado o transmisiones incompletas.</span></li>
        <li class="c3 c25 li-bullet-0"><span class="c1">La no operatividad o problemas en la direcci&oacute;n de email
                facilitada por el Usuario.</span></li>
    </ul>
    <p class="c3"><span class="c9">Tenlow responder&aacute; &uacute;nica y exclusivamente frente al Usuario de los
            Servicios que preste por s&iacute; misma y de los contenidos directamente originados e identificados con su
            copyright, quedando limitada, como m&aacute;ximo, </span><span class="c13">al importe de las cantidades
            percibidas directamente del Usuario por Tenlow en concepto de fee entre otros</span><span class="c1">, con
            exclusi&oacute;n en todo caso de responsabilidad por da&ntilde;os indirectos o por lucro cesante.</span></p>
    <p class="c3"><span class="c1">Cualquier reclamaci&oacute;n o controversia que pueda surgir entre los Usuarios
            anunciantes y Usuarios interesados como consecuencia del Servicio deber&aacute; ser solventada entre los
            mismos, oblig&aacute;ndose a mantener a Tenlow totalmente indemne.</span></p>
    <p class="c3"><span class="c1">Sin perjuicio de lo anterior, Tenlow realizar&aacute; sus mejores esfuerzos para
            facilitar a los Usuarios su colaboraci&oacute;n, as&iacute; como, en su caso, una soluci&oacute;n a
            trav&eacute;s de Atenci&oacute;n al Usuario.</span></p>
    <p class="c8"><span class="c6">5. &nbsp;Servicios de Env&iacute;o </span></p>
    <p class="c3"><span class="c1">Tenlow ofrece a sus Usuarios un servicio de env&iacute;o integrado. Este servicio de
            env&iacute;o permite realizar env&iacute;os de los Objetos alquilados de los Usuarios a trav&eacute;s del
            Sitio Web de Tenlow, para su uso as&iacute; como devoluci&oacute;n, de forma segura. Los env&iacute;os se
            realizan con a trav&eacute;s de Correos. </span></p>
    <p class="c3"><span class="c1">Para poder hacer uso de este servicio ser&aacute; imprescindible que toda la
            transacci&oacute;n se haya efectuado a trav&eacute;s de Tenlow y que el Objeto alquilado se ajuste a
            nuestros T&eacute;rminos y Condiciones as&iacute; como a nuestras Condiciones de Env&iacute;o.</span></p>
    <p class="c3"><span class="c1">Los precios relativos al servicio de env&iacute;os incluyen el Impuesto sobre el
            Valor A&ntilde;adido del 21%. En aquellos supuestos en que, por aplicaci&oacute;n de las reglas de
            localizaci&oacute;n del impuesto establecidas en la Ley 37/1992, de 28 de diciembre, del Impuesto sobre el
            Valor A&ntilde;adido, la cuota impositiva no sea aplicable, Tenlow no se compromete a ajustar la
            cuota.</span></p>
    <p class="c3"><span class="c1">Para m&aacute;s informaci&oacute;n acerca del servicio de env&iacute;os de Tenlow,
            puede consultarse las Condiciones del servicio de env&iacute;os de Tenlow que aparecen en &ldquo;preguntas
            frecuentes&rdquo;, gestionadas por la compa&ntilde;&iacute;a de Correos.</span></p>
    <p class="c8"><span class="c6">6. Propiedad Intelectual e Industrial</span></p>
    <p class="c7 c10"><span class="c1">El Usuario reconoce que todos los elementos del Sitio Web y de cada uno de los
            productos, la informaci&oacute;n y materiales contenidos en los mismos, las marcas, la estructura,
            selecci&oacute;n, ordenaci&oacute;n y presentaci&oacute;n de sus contenidos, y los programas de ordenador
            utilizados en relaci&oacute;n con ellos, est&aacute;n protegidos por derechos de propiedad intelectual e
            industrial de Tenlow o de terceros, y que los T&eacute;rminos y Condiciones no le atribuyen respecto a
            dichos derechos de propiedad industrial e intelectual ning&uacute;n otro derecho distinto de los
            espec&iacute;ficamente contemplados en las mismas.</span></p>
    <p class="c7"><span class="c1">Por ello y en virtud de lo dispuesto en Real Decreto Legislativo 1/1996, de 12 de
            abril, por el que se aprueba el texto refundido de la Ley de Propiedad Intelectual, regularizando, aclarando
            y armonizando las disposiciones legales vigentes sobre la materia (en adelante, &ldquo;Ley de Propiedad
            Intelectual&rdquo;), as&iacute; como en la Ley 17/2001, de 7 de diciembre de Marcas y la legislaci&oacute;n
            complementaria en materia de propiedad intelectual e industrial, queda expresamente prohibida la
            reproducci&oacute;n, transmisi&oacute;n, adaptaci&oacute;n, traducci&oacute;n, distribuci&oacute;n,
            comunicaci&oacute;n p&uacute;blica, incluida su modalidad de puesta a disposici&oacute;n, de la totalidad o
            parte de los contenidos del Sitio Web, en cualquier soporte y por cualquier medio t&eacute;cnico, salvo
            autorizaci&oacute;n expresa otorgada por escrito por parte de &nbsp;Tenlow.</span></p>
    <p class="c7 c10"><span class="c2">Concretamente, y en virtud de lo dispuesto en la normativa nacional, europea e
            internacional sobre propiedad intelectual, quedan expresamente prohibidas la utilizaci&oacute;n de la
            totalidad o parte de los contenidos de esta p&aacute;gina web por otros Usuarios y en concreto al contenido
            elaborado por&nbsp;</span><span class="c9">Tenlow</span><span class="c2">, con fines comerciales, en
            cualquier soporte y por cualquier medio t&eacute;cnico, sin la autorizaci&oacute;n&nbsp;de </span><span
            class="c9">Tenlow</span><span class="c2">.</span></p>
    <p class="c7 c10"><span class="c1">El Usuario deber&aacute; utilizar los materiales, elementos e informaci&oacute;n
            a la que acceda a trav&eacute;s de la utilizaci&oacute;n del Sitio Web &uacute;nicamente para sus propias
            necesidades, oblig&aacute;ndose a no realizar ni directa ni indirectamente una explotaci&oacute;n comercial
            de los materiales, elementos e informaci&oacute;n obtenidos a trav&eacute;s de los mismos.</span></p>
    <p class="c7"><span class="c2">El Usuario se compromete a respetar los derechos de Propiedad Intelectual e
            Industrial de titularidad&nbsp;de </span><span class="c9">Tenlow, de otros Usuarios y de
            terceros</span><span class="c2">. El Usuario deber&aacute; abstenerse de suprimir, alterar, eludir o
            manipular cualquier dispositivo de protecci&oacute;n o sistema de seguridad que estuviera instalado en el
            Sitio Web de </span><span class="c9">Tenlow</span><span class="c2">.&nbsp;&nbsp;</span></p>
    <p class="c7"><span class="c1">Tenlow no concede ninguna licencia o autorizaci&oacute;n de uso de ninguna clase
            sobre sus derechos de propiedad intelectual e industrial o sobre cualquier otra propiedad o derecho
            relacionado con el Sitio Web, y en ning&uacute;n caso se entender&aacute; que el acceso y navegaci&oacute;n
            de los Usuarios implica una renuncia, transmisi&oacute;n, licencia o cesi&oacute;n total ni parcial de
            dichos derechos por parte de Tenlow.</span></p>
    <p class="c3"><span class="c1">Cualquier uso de esos contenidos no autorizado previamente por parte de Tenlow o de
            sus titulares ser&aacute; considerado un incumplimiento grave de los derechos de propiedad intelectual o
            industrial y dar&aacute; lugar a las responsabilidades legalmente establecidas. Adem&aacute;s, podr&aacute;
            ser causa de la suspensi&oacute;n o cancelaci&oacute;n de la Cuenta registrada del Usuario incluyendo los
            anuncios, publicaciones, comentarios y/o opiniones del mismo.</span></p>
    <p class="c8"><span class="c6">7. Protecci&oacute;n de Datos</span></p>
    <p class="c7 c10"><span class="c9">Tenlow garantiza la seguridad y confidencialidad de los datos de car&aacute;cter
            personal que los Usuarios facilitan cumpliendo con lo dispuesto en el Reglamento 2016/679 de 27 de abril de
            2016 relativo a la protecci&oacute;n de las personas f&iacute;sicas en lo que respecta al tratamiento de
            datos personales y la libre circulaci&oacute;n de estos datos (en adelante, &ldquo;</span><span
            class="c9 c24">RGPD</span><span class="c9">&rdquo;) y la Ley Org&aacute;nica 3/2018, de 5 de diciembre, de
            Protecci&oacute;n de Datos de Car&aacute;cter Personal y garant&iacute;a de derechos digitales (en adelante,
            &ldquo;</span><span class="c9 c24">LOPDGDD</span><span class="c1">&rdquo;)</span></p>
    <p class="c7 c10"><span class="c1">En este sentido, se informa a los Usuarios que, en materia de privacidad y
            protecci&oacute;n de sus datos personales, pueden ejercitar los siguientes derechos:&nbsp;&nbsp;</span></p>
    <ol class="c11 lst-kix_list_2-0 start" start="1">
        <li class="c25 c10 c31 li-bullet-0"><span class="c1">Acceder&nbsp;a sus datos personales;&nbsp;&nbsp;</span>
        </li>
        <li class="c28 c25 c10 li-bullet-0"><span class="c1">solicitar la&nbsp;rectificaci&oacute;n&nbsp;de cualquier
                dato inexacto;&nbsp;&nbsp;</span></li>
        <li class="c28 c25 c10 li-bullet-0"><span class="c1">solicitar la&nbsp;supresi&oacute;n&nbsp;de sus
                datos;&nbsp;&nbsp;</span></li>
        <li class="c25 c10 c28 li-bullet-0"><span class="c1">solicitar que se&nbsp;limite el tratamiento&nbsp;de sus
                datos;&nbsp;&nbsp;</span></li>
        <li class="c28 c25 c10 li-bullet-0"><span class="c1">oponerse&nbsp;al tratamiento de sus
                datos;&nbsp;&nbsp;</span></li>
        <li class="c28 c25 c10 li-bullet-0"><span class="c1">ejercer su&nbsp;derecho al olvido; y&nbsp;&nbsp;</span>
        </li>
        <li class="c10 c17 li-bullet-0"><span class="c1">solicitar la&nbsp;portabilidad&nbsp;de sus datos. Asimismo, los
                Usuarios tendr&aacute;n derecho a&nbsp;no ser objeto de decisiones basadas &uacute;nicamente en el
                tratamiento automatizado de datos.&nbsp;</span></li>
    </ol>
    <p class="c7 c10"><span class="c9">El Usuario puede ejercer todos estos derechos en la direcci&oacute;n de correo
            electr&oacute;nico </span><span class="c0"><a class="c19"
                href="mailto:legal@tenlow.es">legal@tenlow.es</a></span><span class="c1">&nbsp;indicando el motivo de su
            petici&oacute;n y aportando una copia de su D.N.I.&nbsp;</span></p>
    <p class="c7 c10"><span class="c9">No&nbsp;obstante lo anterior, para conocer todos los detalles sobre el
            tratamiento de datos de car&aacute;cter personal llevado a cabo por&nbsp;Tenlow, el Usuario podr&aacute;
            encontrar la pol&iacute;tica de privacidad en el siguiente link:&nbsp;</span><span class="c9 c18"> <a href="https://tenlow.es/privacidad/" target="_blank" rel="noopener noreferrer">enlace.</a></span><span class="c1">&nbsp;</span></p>
    <p class="c8"><span class="c6">8. Resoluci&oacute;n de conflictos</span></p>
    <p class="c3"><span class="c5 c21">Tenlow no es propietaria de ninguno de los Objetos ofertados en alquiler a
            trav&eacute;s del Sitio Web sino que act&uacute;a como intermediario entre el alquiler llevado a cabo por el
            Usuario y el Arrendador del producto. Por lo que Tenlow, no ser&aacute; en ning&uacute;n caso responsable de
            los da&ntilde;os y perjuicios de cualquier naturaleza derivados de la utilizaci&oacute;n y
            contrataci&oacute;n de los Objetos de los Usuarios y/o de terceros a trav&eacute;s del Sitio Web. </span>
    </p>
    <p class="c3"><span class="c5 c21">Sin embargo, Tenlow procurar&aacute; dentro de los medios posibles mediar y
            promover la resoluci&oacute;n de disputas e inconformidades entre los Usuarios. </span></p>
    <p class="c3"><span class="c5">Para abrir una disputa de incidencia sobre el alquiler de un Objeto, el Usuario
            deber&aacute; dirigirse a</span><span class="c12 c35">&nbsp;</span><span class="c0"><a class="c19"
                href="mailto:disputas@tenlow.es">disputas@tenlow.es</a></span></p>
    <p class="c3"><span class="c5">Como consumidor residente en el EEE, puedes acceder a la plataforma de
            resoluci&oacute;n de litigios en l&iacute;nea de la Comisi&oacute;n&nbsp;Europea
            aqu&iacute;:&nbsp;</span><span class="c12 c10 c33"><a class="c19"
                href="https://www.google.com/url?q=https://ec.europa.eu/consumers/odr&amp;sa=D&amp;source=editors&amp;ust=1689871405987365&amp;usg=AOvVaw0yVdBlshTsXdmk6U6RUD6O">https://ec.europa.eu/consumers/odr</a></span><span
            class="c5 c21">. </span></p>
    <p class="c3"><span class="c5">Tenlow no se compromete ni tiene la obligaci&oacute;n de utilizar una entidad
            alternativa de resoluci&oacute;n de conflictos para resolver controversias con los consumidores. La
            plataforma de resoluci&oacute;n de litigios en l&iacute;nea de la Comisi&oacute;n&nbsp;Europea no
            est&aacute; disponible para los residentes de Suiza o del Reino&nbsp;Unido.</span></p>
    <p class="c8"><span class="c6">9. Ley aplicable y Jurisdicci&oacute;n</span></p>
    <p class="c3"><span class="c1">Estos T&eacute;rminos y Condiciones se regir&aacute;n e interpretar&aacute;n conforme
            a la legislaci&oacute;n espa&ntilde;ola. </span></p>
    <p class="c3"><span class="c1">En caso de litigio entre Tenlow y el Usuario, &eacute;ste podr&aacute; interponer su
            acci&oacute;n legal ante los tribunales del lugar de residencia del Usuario.</span></p>
    <p class="c26"><span class="c6">Condiciones espec&iacute;ficas para la Publicaci&oacute;n de Anuncios</span></p>
    <p class="c3"><span class="c9">A trav&eacute;s del Sitio Web de Tenlow, el Usuario (en adelante &ldquo;</span><span
            class="c13">Anunciante</span><span class="c1">&rdquo;) podr&aacute; publicar anuncios ofertando el alquiler
            de Objetos de su propiedad. Para ello, ser&aacute; necesario el Registro del Usuario.</span></p>
    <p class="c3"><span class="c1">Al publicar el anuncio, el Usuario reconoce y garantiza que el Objeto es de su
            propiedad o que ha obtenido los permisos necesarios del propietario para publicarlos y ofertar su alquiler.
            El Usuario anunciante es el &uacute;nico responsable de describir los Objetos de manera veraz y evitando dar
            lugar a cualquier error o confusi&oacute;n de los Usuarios interesados.</span></p>
    <p class="c3"><span class="c1">Asimismo, el Usuario anunciante reconoce y acepta que Tenlow no ser&aacute;
            responsable de da&ntilde;os directos o indirectos, relacionado con el uso de los Servicios como consecuencia
            de un uso fraudulento, lo que incluye la p&eacute;rdida o da&ntilde;o del Objeto, la p&eacute;rdida de
            ingresos o ganancias, p&eacute;rdida de contratos, oportunidades, y/o lucro cesante.</span></p>
    <p class="c3"><span class="c1">Tenlow se reserva el derecho de suspender, investigar, dar de baja, restringir o
            eliminar los anuncios que no cumplan con los requisitos establecidos en los T&eacute;rminos y Condiciones y
            con las presentes Condiciones de Publicaci&oacute;n. El Usuario se compromete expresamente a publicar sus
            anuncios conforme a las siguientes normas:</span></p>
    <ul class="c11 lst-kix_list_4-0 start">
        <li class="c4 li-bullet-0"><span class="c1">No publicar anuncios sin im&aacute;genes o con im&aacute;genes que
                no sean del Objeto en alquiler, o que pertenezcan a terceros (a modo de ejemplo, im&aacute;genes
                extra&iacute;das de otros sitios web o de tiendas online, im&aacute;genes de terceros o im&aacute;genes
                de animales o personas).</span></li>
        <li class="c4 li-bullet-0"><span class="c9">No publicar anuncios de Objetos que requieran receta m&eacute;dica,
                o licencias de la autoridad como por ejemplo armas, as&iacute; como Objetos perecederos de cualquier
                tipo. Asimismo, queda prohibido publicar oferta de los siguientes Objetos</span><span
                class="c32">:</span></li>
    </ul>
    <ul class="c11 lst-kix_list_3-0 start">
        <li class="c20 li-bullet-0"><span class="c1">Armas, explosivos, sustancias nocivas para la salud o seguridad,
                veh&iacute;culos a motor y/o que requieran licencia o permisos. (&hellip;)</span></li>
    </ul>
    <ul class="c11 lst-kix_list_4-0">
        <li class="c4 li-bullet-0"><span class="c1">No publicar anuncios con finalidades distintas a la de oferta de
                alquiler (por ejemplo, de empleo).</span></li>
        <li class="c4 li-bullet-0"><span class="c1">No publicar m&aacute;s de un anuncio para el mismo objeto
                simult&aacute;neamente ni dar altas y bajas reiteradas sobre un mismo anuncio con el fin de obtener
                mayor exposici&oacute;n en el Sitio Web de Tenlow.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">No a&ntilde;adir n&uacute;mero de tel&eacute;fono, direcci&oacute;n,
                email de contacto, datos bancarios o links a p&aacute;ginas externas, fuera de los espacios destinados
                para ese fin en el anuncio.</span></li>
        <li class="c4 li-bullet-0"><span class="c1">No publicar Objetos que no se encuentren disponibles en el momento
                de la publicaci&oacute;n, que se encuentren reservados o alquilados, o no sea de la propiedad del
                anunciante.</span></li>
        <li class="c3 c25 li-bullet-0"><span class="c1">No publicar precios, im&aacute;genes o informaci&oacute;n de
                descripci&oacute;n inexacta que pueda dar lugar a confusi&oacute;n al Usuario interesado (como, por
                ejemplo, publicar anuncio de alquiler de un sof&aacute; cuando &uacute;nicamente se ofrece el alquiler
                del accesorio de cojines).</span></li>
    </ul>
    <p class="c3"><span class="c6">Condiciones del Anuncio</span></p>
    <p class="c3"><span class="c1">El Usuario es libre de establecer las condiciones del alquiler, incluyendo el
            alquiler con opci&oacute;n a compraventa, en el anuncio publicado, incluyendo el precio y la duraci&oacute;n
            del mismo, siempre que &eacute;ste no sea contrario a lo estipulado en la ley.</span></p>
    <p class="c3"><span class="c1">Asimismo, el Usuario anunciante reconoce y acepta que Tenlow aplicar&aacute; un fee
            en calidad de comisi&oacute;n por el alquiler del Objeto, que ser&aacute; visible en todo momento para el
            Anunciante en la estimaci&oacute;n del precio final. De esta manera el Anunciante tendr&aacute; en todo
            momento informaci&oacute;n sobre el fee aplicado por Tenlow antes de la publicaci&oacute;n.</span></p>
    <p class="c3"><span class="c1">Cualquier acci&oacute;n u omisi&oacute;n por parte del Usuario anunciante con la
            finalidad de evitar la aplicaci&oacute;n del fee de Tenlow, podr&aacute; suponer la expulsi&oacute;n y
            suspensi&oacute;n de su cuenta.</span></p>
    <p class="c3"><span class="c1">El Usuario podr&aacute; modificar sus anuncios para actualizar la disponibilidad del
            Objeto en todo momento, as&iacute; como eliminar sus publicaciones en cualquier momento.</span></p>
    <p class="c3"><span class="c6">Seguro de los Objetos del anunciante</span></p>
    <p class="c3"><span class="c1">Tenlow facilita a los Usuarios anunciantes la contrataci&oacute;n de un seguro para
            el alquiler del Objeto. Esta cobertura es prestada por una compa&ntilde;&iacute;a externa e independiente y
            de ning&uacute;n modo podr&aacute; entenderse que Tenlow ofrece servicios de intermediaci&oacute;n de
            seguros.</span></p>
    <p class="c3 c34"><span class="c1"></span></p>
    <p class="c15"><span class="c1"></span></p>
    <p class="c15"><span class="c1"></span></p>
    <p class="c15"><span class="c21 c22"></span></p>
</div>