div{
    gap: 14px
}

button{
    min-width: 86px;
    max-width: 86px;
    padding: 10px;
    background: var(--primary);
    border-radius: 12px;
    outline: none;
    display: grid;
    place-items: center;
    span{
        height: 20px;
        display: flex;
    }
}

@media (max-width: 620px) {
    div{
        flex-direction: column;
        font-size: 13px;
    }

    .btns-action{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}