* {
    font-family: "BalooTamma";
}

mat-dialog-content{
    padding-top: 0 !important;
}

mat-toolbar{
    background: var(---light);
}

.content{
    padding: 0px 40px;
}

.title{
    color: var(--dark);
    width: 390px;
    font-size: 22px;
}

.group-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    mat-radio-button{
        width: 100%;
    }
}