<loader-overlay *ngIf="isLoading"></loader-overlay>
<mat-toolbar>
    <mat-toolbar-row>
      <button mat-dialog-close>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 2.0585L12.59 0.72583L7 6.00926L1.41 0.72583L0 2.0585L5.59 7.34193L0 12.6254L1.41 13.958L7 8.6746L12.59 13.958L14 12.6254L8.41 7.34193L14 2.0585Z" fill="#60757C"/>
        </svg>
      </button>
    </mat-toolbar-row>
</mat-toolbar>

<span *ngIf="isSuccessSendEmail" class="lg:w-9/12 md:w-10/12 sm:w-11/12 w-11/12 my-5 m-auto px-5 py-3 rounded-full text-tl-blue bg-tl-bagde-chat-date font-semibold text-sm flex align-center cursor-pointer active:bg-gray-300 transition duration-300 ease">
    {{  'pages.recovery_passoword.msg_send_email_recovery' | translate }}
    <button class="bg-transparent hover focus:outline-none" (click)="hiddenSuccess()">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times"
            class="w-3 ml-3" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 352 512">
            <path fill="currentColor"
            d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
            </path>
        </svg>
    </button>
</span>

<mat-dialog-content>
    <div class="lg:w-8/12 md:w-9/12 sm:w-10/12 w-11/12 m-auto text-center mb-10 pt-2" *ngIf="isShowFormEmail">
        <h1 class="text-[22px] text-black">
            {{ 'pages.recovery_passoword.forgot_password' | translate }}
        </h1>
        <h3 class="my-6 text-black">
            {{ 'pages.recovery_passoword.info_recovery' | translate }}
        </h3>
    </div>

    <div class="lg:w-10/12 md:w-11/12 sm:w-12/12 w-12/12 m-auto text-center mb-10" *ngIf="isShowCodes">
        <h1 class="text-2xl text-tl-dark-gray">
            {{ 'pages.recovery_passoword.btn_recovery' | translate }}
        </h1>
        <h3 class="my-6">
            {{ 'pages.recovery_passoword.enter_code_info' | translate }}
        </h3>
    </div>

    <div class="lg:w-8/12 md:w-9/12 sm:w-10/12 w-11/12 m-auto text-center mb-10" *ngIf="!isShowCodes && !isShowFormEmail">
        <h1 class="text-2xl text-tl-dark-gray">
            {{ 'pages.recovery_passoword.restore_password' | translate }}
        </h1>
        <h3 class="my-6">
            {{ 'pages.recovery_passoword.info_restore_password' | translate }}
        </h3>
    </div>

    <div class="flex items-center m-3" >

        <!-- SEN EMAIL TO RECOERY -->
        <form class="lg:w-7/12 md:w-8/12 sm:w-9/12 w-10/12 m-auto my-6" [formGroup]="sendEmailForm" (ngSubmit)="validateForm()" *ngIf="isShowFormEmail">
            <div class="relative" [ngClass]="{'error-form': (email?.errors && email?.touched)}">
                <input id="name" autocomplete="off" type="text" formControlName="email" [class]="cssInputBase" />
                <label for="name" [class]="cssFloatLabel">
                    {{ 'labels.placeholder_email' | translate }}
                </label>
                <span [class]="cssSpanValidation" *ngIf="(sended || email?.dirty || email?.touched) && email?.errors">
                    *{{ getValidationEmailMsg() | translate }}
                </span>
            </div>

            <button type="submit" class="btn-base btn-primary flex flex-row items-center w-full h-10 m-auto justify-center space-x-2 mt-7 mb-4">
                <span class="h-3">{{ 'pages.recovery_passoword.btn_recovery' | translate }}</span>
            </button>
        </form>

        <!-- VALIDATE CODE SENDED -->
        <form class="w-full max-w-[400px] m-auto" [formGroup]="codeForm" (ngSubmit)="sendCode()" *ngIf="isShowCodes">
            <div class="relative" [ngClass]="{'error-form': ((code?.errors && code?.touched) || isInvalidCode)}">
                <input id="name" autocomplete="off" type="text" (change)="resetErrCode()" formControlName="code" maxlength="6" [class]="cssInputBase" />
                <label for="name" [class]="cssFloatLabel">
                    {{ 'pages.recovery_passoword.enter_code_sended' | translate }}
                </label>
                <span [class]="cssSpanValidation" *ngIf="(sended || code?.dirty || code?.touched) && code?.errors">
                    *{{ 'pages.recovery_passoword.err_invalid_code' | translate }}
                </span>
                <span [class]="cssSpanValidation" *ngIf="isInvalidCode && !code?.errors">
                    {{ 'pages.recovery_passoword.err_code_sended_invalid' | translate }}
                </span>
            </div>

            <button type="submit" class="btn-base btn-primary flex flex-row items-center w-full h-10 m-auto justify-center space-x-2 mt-7 mb-4">
                <span class="text-white h-3">{{ 'pages.recovery_passoword.btn_recovery' | translate }}</span>
            </button>
        </form>

        <!-- FORM UPDATE PASSWORD -->
        <form *ngIf="!isShowCodes && !isShowFormEmail" [formGroup]="formUpdatePassword" class="animated-show-item form-reset lg:mx-4 md:mx-3 sm:mx-2 mx-0" (ngSubmit)="updatePassword()">
            <div class="relative" [ngClass]="{'error-form': (new_password?.errors && new_password?.touched)}">
                <input id="new_password" autocomplete="off" type="text" formControlName="new_password" maxlength="20" [class]="cssInputBase" />
                <label for="new_password" [class]="cssFloatLabel">
                    {{ 'pages.recovery_passoword.new_password' | translate }}
                </label>
                <span [class]="cssSpanValidation" *ngIf="(sended || new_password?.dirty || new_password?.touched) && new_password?.errors">
                    *{{ getValidationPasswordMsg('new_password') | translate }}
                </span>
            </div>

            <div class="relative mt-5" [ngClass]="{'error-form': ((confirm_password?.errors && confirm_password?.touched) || (!confirm_password?.invalid && confirm_password?.value !== new_password?.value))}">
                <input id="confirm_password" autocomplete="off" type="text" formControlName="confirm_password" maxlength="20" [class]="cssInputBase" />
                <label for="confirm_password" [class]="cssFloatLabel">
                    {{ 'pages.recovery_passoword.confirm_new_password' | translate }}
                </label>
                <span [class]="cssSpanValidation" *ngIf="(sended || confirm_password?.dirty || confirm_password?.touched) && confirm_password?.errors">
                    *{{ getValidationPasswordMsg('confirm_password')  | translate }}
                </span>
                <span  [class]="cssSpanValidation"  *ngIf="!confirm_password?.invalid && confirm_password?.value !== new_password?.value">
                {{ 'pages.recovery_passoword.password_not_match' | translate}}
                </span>
            </div>

            <button type="submit" class="btn-base btn-primary flex flex-row items-center w-full h-10 m-auto justify-center space-x-2 mt-7 mb-4">
                {{ 'pages.recovery_passoword.update_password' | translate}}
            </button>
        </form>
    </div>
</mat-dialog-content>
