* {
    font-family: 'BalooTamma';
}

mat-toolbar{
    background: transparent;
}


mat-dialog-content{
    padding: 0 18px 50px !important;
}

.form-reset{
    min-width: 250px;
    width: 35vw;
    max-width: 500px;
    margin: auto;
}