* {
    font-family: 'BalooTamma';
}

mat-toolbar{
    background: transparent;
}

mat-dialog-content{
    padding-top: 0 !important;
}

.form-reset{
    min-width: 250px;
    width: 30vw;
    max-width: 500px;
}

.content{
    padding: 0px 90px 30px;
}

@media (max-width:600px) {
    .content{
        padding: 0 20px 10px;
    }
}

.info-phone{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.validation-span{
    font-size: 12px !important;
}

.form-update-phone{
    max-width: 660px;
}