.faqs{
    background: var(--blue-light-opacity-3);
    padding: 10px 30px 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.mat-expansion-panel-header{
    padding: 4px 5px 4px 10px !important;
    min-height: 64px;
    height: auto;
}

.mat-expansion-panel-header-description{
    margin-right: 0px;
    justify-content: flex-end;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    flex-grow: 1;
    font-size: 15px;
}

.mat-expansion-panel-header-title{
    flex-grow: 20 !important;
}


mat-expansion-panel{
    margin: 5px 0;
    box-shadow: none !important;
    border-radius: 8px !important;
    p{
        padding: 8px 16px 16px;
        color: var(--dark-gray);
    }
}

.content-answers{
    margin-top: 16px;
    margin-left: 24px;
}

.more-questions{
    padding: 12px;
}

mat-panel-description{
    mat-icon{
        color: var(--dark);
    }
}