<nav class="w-full flex justify-center items-center">
    <div class="container flex flex-wrap items-center lg:justify-between justify-center">
        <div class="w-full flex flex-wrap items-center justify-between">
            <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start">
                <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase logo-app cursor-pointer"
                    href="https://tenlow.es/">
                    <img [src]="logo" alt="logo de tenlow">
                </a>
                <button
                    class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
                    type="button" (click)="toggleNavbar()">
                    <svg viewBox="0 0 100 80" width="25" height="25">
                        <rect width="100" height="20" rx="10"></rect>
                        <rect y="30" width="100" height="20" rx="10"></rect>
                        <rect y="60" width="100" height="20" rx="10"></rect>
                    </svg>
                </button>
                <badge-notification class="notification-mobile lg:hidden"></badge-notification>
            </div>
            <div class="hidden lg:flex lg:flex-grow lg:flex-row items-center justify-around">
                <ul class="flex flex-col lg:flex-row list-none items-center justify-start w-full overflow-hidden">
                    <li class="nav-item w-4/5">
                        <app-searchbar placeholder="pages.home.search_txt"></app-searchbar>
                    </li>
                </ul>
                <ul class="flex flex-col lg:flex-row list-none items-center justify-start w-2/5">
                    <li class="nav-item auth-buttons h-14 cursor-text">
                        <button type="button" class="mr-3 btn-primary" (click)="navigate('products/add-product')">
                            {{ 'components.navbar.upload_prod' | translate }}
                        </button>
                    </li>
                    <li class="nav-item auth-buttons h-14 cursor-text" *ngFor="let item of menuOptions">
                        <button type="button" class="mr-3 btn-primary" (click)="navigate('/' + item.route)">
                            {{ item.label | translate }}
                        </button>
                    </li>
                </ul>
                <ul class="flex flex-col lg:flex-row list-none items-center justify-start w-3/5" >

                    <li class="nav-item py-3 px-1" *ngFor="let item of menuItemsInfo" (mouseleave)="isSubMenuHovered = false">
                        <ng-container *ngIf="item.route === 'infoMenu'; else normalLink">
                            <div class="relative" [class.hovered]="isSubMenuHovered">
                                <button type="button"
                                    class="inline-flex items-center gap-x-1 text-sm font-semibold text-gray-900"
                                    (mouseenter)="isSubMenuHovered = true"  aria-expanded="false">
                                    <span class="text-menu">{{ item.label | translate }}</span>
                                    <span class="sr-only noAbout">Info</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="fill-slate-500 noAbout">
                                        <path d="M6 9l6 6 6-6H6z"></path>
                                    </svg>
                                </button>
                                <ul *ngIf="isSubMenuOpen || isSubMenuHovered"
                                class="absolute top-full left-0 z-10 mt-1 w-[13rem] bg-white shadow-lg ring-1 ring-gray-900/5 cursor-pointer ul-text"
                                (mouseenter)="isSubMenuHovered = true" (mouseleave)="isSubMenuHovered = false">
                                <li class="py-4 px-4 hover:bg-[#8BE8E5] hover:text-white transition-all border-b border-gray-300"
                                    *ngFor="let item of navSubMenuItems">
                                    <a [href]="item.route" 
                                    (click)="handleClick($event, item.route)" 
                                    class="block font-semibold cursor-pointer">
                                        {{ item.label | translate }}
                                    </a>
                                </li>
                            </ul>
                            </div>
                        </ng-container>
                        <ng-template #normalLink>
                            <a [href]="getFormattedUrl(item.route)" class="px-3 py-2 flex items-center font-bold text-tl-crayola text-menu"
                                (click)="handleClick($event, item.route)">
                                {{ item.label | translate }}
                            </a>
                        </ng-template>
                    </li>

                </ul>

                <ul class="flex flex-col lg:flex-row list-none items-center justify-between"
                    *ngIf="!canShowAvatar() && !construction">
                    <li class="nav-item auth-buttons h-14">
                        <button type="button" class="mr-3" (click)="navigate('/auth/login')"
                            [ngClass]="{'btn-primary': currentRoute == 'autentificacion/acceso' }">{{ 'components.navbar.login' |
                            translate}}</button>
                    </li>
                    <li class="nav-item auth-buttons h-14">
                        <button type="button" (click)="navigate('/auth/register')"
                            [ngClass]="{'btn-primary': currentRoute !== 'autentificacion/acceso' }">{{ 'components.navbar.signup' |
                            translate}}</button>
                    </li>
                </ul>

                <ul class="flex flex-row list-none items-center w-4/12" *ngIf="canShowAvatar()">
                    <li class="nav-item py-3 px-1">
                        <div class="card-rating flex flex-row items-center space-x-3 relative user-info">
                            <div class="rating-comment w-4/5 text-end">
                                <h2 class="text-tl-dark-light" *ngIf="user">{{ user.name }}</h2>
                            </div>
                            <div [matMenuTriggerFor]="beforeMenu"
                                class="cursor-pointer avatar w-[60px] h-[60px] min-w-[60px] rounded-full bg-tl-gray overflow-hidden">
                                <badge-notification></badge-notification>
                                <img [lazyLoad]="user?.profile_photo_path ?? publicService.defaultAvatar"
                                    [defaultImage]="publicService.defaultAvatar" class="img-profile"
                                    alt="Imagen de perfil de {{ user?.name + ' ' + user?.last_name }}" srcset="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item *ngFor="let item of profileOptions" (click)="navigate(item.route)">{{ item.label | translate
        }} <badge-notification *ngIf="item.label == 'labels.mailbox'"></badge-notification> </button>
    <button mat-menu-item (click)="logout()">{{ 'labels.logout' | translate}}</button>
</mat-menu>