@font-face {
    font-family: "BalooTamma";
    font-style: normal;
    src: url("../assets/fonts/Baloo_Tamma/BalooTamma2-Regular.ttf");
}

@font-face {
    font-family: "BalooTamma-Medium";
    font-style: normal;
    src: url("../assets/fonts/Baloo_Tamma/BalooTamma2-Medium.ttf");
}

@font-face {
    font-family: "BalooTamma-Semibold";
    font-style: normal;
    src: url("../assets/fonts/Baloo_Tamma/BalooTamma2-SemiBold.ttf");
}

@font-face {
    font-family: "BalooTamma-Bold";
    font-style: normal;
    src: url("../assets/fonts/Baloo_Tamma/BalooTamma2-ExtraBold.ttf");
}