<mat-toolbar>
    <mat-toolbar-row>
      <button mat-dialog-close>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 2.0585L12.59 0.72583L7 6.00926L1.41 0.72583L0 2.0585L5.59 7.34193L0 12.6254L1.41 13.958L7 8.6746L12.59 13.958L14 12.6254L8.41 7.34193L14 2.0585Z" fill="#60757C"/>
        </svg>
      </button>
      <h1 class="title-modal semibold text-center">{{ 'pages.checkout.select_collect_point' | translate }}</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
    <div class="content" >
        <div class="collect-points" *ngIf="collectPoints.length > 0">
            <div class="card-point-collect" (click)="selectPoint(point)" [ngClass]="{'point-selected': ( pointSelected && pointSelected.cod_homepaq == point.cod_homepaq )}"  *ngFor="let point of collectPoints">
                <h3 class="semibold" innerHTML="{{ point.det_canal }}"></h3>
                <div class="information-card">
                    <p> <strong>{{ 'labels.direction' | translate }}</strong> {{ point.alias + ', ' + point.direccion  }} </p>
                    <p> <strong>{{ 'labels.postal_code' | translate }}</strong>  {{ point.cod_postal }} </p>
                    <!-- <p> <strong>{{ 'horario' | translate }}</strong> <span> {{ point.horarioLV }} </span> </p> -->
                    <!-- <p> <strong>{{ 'labels.phone' | translate  }}</strong> <span> {{ point.telefono }} </span> </p> -->
                </div>
            </div>

        </div>
        <no-results *ngIf="collectPoints.length == 0" message="messages.empty_collect_point" [status]="false"></no-results>
    </div>
</mat-dialog-content>
<mat-toolbar>
    <mat-toolbar-row class="justify-end">
        <button class="bg-tl-primary px-8 h-10 rounded-3xl flex justify-center items-center mx-3 my-1" (click)="confirmSelection()">
            <span class="text-tl-blue text-sm">{{ 'labels.continue' | translate }}</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
