<div class="card-rating w-full py-6 border-b-[1px] border-tl-gray-lavender flex flex-row items-start space-x-3">
  <div class="avatar w-[73px] h-[73px] overflow-hidden  min-w-[73px] rounded-full bg-tl-gray cursor-pointer" [routerLink]="['/user/', calification.user.id]" routerLinkActive="router-link-active" >
      <img [lazyLoad]="calification.user.profile_photo_path!" alt="" [defaultImage]="publicService.defaultAvatar" srcset="">
  </div>
  <div class="content-rating w-full">
    <div class="stars-rating flex items-center" [ngClass]="{'gap-1.5': publicService.isIosMobile()}">
      <button class="appearance-none cursor-default" [ngClass]="{'scale-[1.3]': publicService.isIosMobile()}"  *ngFor="let item of [1,2,3,4,5]">
        <svg class="w-6 h-6" *ngIf="item <= calification.rating"><use [ngClass]="{'scale-[1.3]': !publicService.isIosMobile()}" href="#star-select"></use></svg>
        <svg class="w-6 h-6" *ngIf="item > calification.rating"><use [ngClass]="{'scale-[1.3]': !publicService.isIosMobile()}" href="#star-no-select"></use></svg>
      </button>
    </div>
    <div class="content-comment flex flex-row items-start justify-between">
      <div class="rating-comment mt-1.5 w-4/5">
        <h2 class="text-medium text-base cursor-pointer" [routerLink]="['/user/', calification.user.id]" routerLinkActive="router-link-active">{{ getUserName() }}</h2>
        <p class="text-tl-dark-gray text-base-2 font-light">{{ calification.comment }}</p>
      </div>
      <div class="date-rating text-right">
        <h2 class="text-xs font-light text-tl-dark-light mb-1">{{ 'labels.date_publish' | translate }}</h2>
        <p class="text-xs text-medium text-tl-dark-gray">{{  calification.created_at | date:'M/d/yy' }}</p>
      </div>
    </div>
  </div>
</div>

<svg class="hidden">
  <defs>
      <symbol id="star-select" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.61113 15.4167L4.89759 9.85521L0.583008 6.11458L6.28301 5.61979L8.49967 0.375L10.7163 5.61979L16.4163 6.11458L12.1018 9.85521L13.3882 15.4167L8.49967 12.4677L3.61113 15.4167Z" fill="#FFB959"/>
      </symbol>

      <symbol id="star-no-select" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.4163 6.71083L10.7243 6.22L8.49967 0.979164L6.27509 6.22791L0.583008 6.71083L4.90551 10.4554L3.60717 16.0208L8.49967 13.0679L13.3922 16.0208L12.1018 10.4554L16.4163 6.71083ZM8.49967 11.5875L5.52301 13.3846L6.31467 9.99625L3.68634 7.71625L7.15384 7.41541L8.49967 4.225L9.85342 7.42333L13.3209 7.72416L10.6926 10.0042L11.4843 13.3925L8.49967 11.5875Z" fill="#313B3F"/>
      </symbol>
  </defs>
</svg>