<mat-dialog-content>
    <div class="flex flex-col items-center text-info p-4">
        <h2 class="semibold text-2xl text-black  mb-3 text-center">¿Qué debes saber sobre el <br />número de cuenta?</h2>
        <ul>
            <li class="mt-4 text-black">1. Tu cuenta <span class="highlight-red">no es el método de pago</span>, podrás
                elegirlo cuando alquiles.</li>
            <li class="mt-4 text-black">2. Te pedimos el número de cuenta para <span class="highlight-red">ingresarte el
                    dinero</span>.</li>
            <li class="mt-4 text-black">3. <span class="highlight-red">Tenlow no almacena los datos</span>, es la
                pasarela de pago la que se encarga de todo, <br /> ¡no tienes por qué preocuparte!</li>
        </ul>
        <p class="text-black">
            Si te queda alguna duda, lee nuestro
            <a href="#" class="legal-link">Aviso Legal</a>
        </p>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close class="btn-base mt-4 bg-tl-primary px-4 flex justify-center">
                <span class="h-5 text-tl-blue text-sm text-medium">Entendido</span>
            </button>
        </div>
    </div>
</mat-dialog-content>