h4{
    font-family: 'BalooTamma-Semibold';
    margin: 16px 0;
}

.content{
    width: 70%;
    margin: auto;
    max-width: 930px;
}

@media (max-width: 700px) {
    .content{
        width: 95%;
    }
}