<div class="min-screen p-5 mx-20 container content" *ngIf="locale == 'es' ">
    <div *ngIf="type == 'privacy'" [ngTemplateOutlet]="PrivacyEsp"></div>
    <div *ngIf="type == 'legal'" [ngTemplateOutlet]="LegalEsp"></div>
    <div *ngIf="type == 'cookies'" [ngTemplateOutlet]="CookieEsp"></div>
</div>

<div class="min-screen p-5 mx-20 container content" *ngIf="locale == 'en' ">
    <div *ngIf="type == 'privacy'" [ngTemplateOutlet]="PrivacyEsp"></div>
    <div *ngIf="type == 'legal'" [ngTemplateOutlet]="LegalEsp"></div>
    <div *ngIf="type == 'cookies'" [ngTemplateOutlet]="CookieEsp"></div>
</div>


<ng-template #PrivacyEng>
    <app-privacy-es type="privacy"></app-privacy-es>

</ng-template>

<ng-template #PrivacyEsp>
    <app-privacy-es type="privacy"></app-privacy-es>
</ng-template>

<ng-template #LegalEsp>
    <app-privacy-es type="legal"></app-privacy-es>
</ng-template>

<ng-template #CookieEsp>
    <app-privacy-es type="cookies"></app-privacy-es>
</ng-template>
