* {
    font-family: 'BalooTamma';
}

mat-toolbar{
    background: transparent;
}

.form-reset{
    min-width: 250px;
    width: 22vw;
    max-width: 500px;
}

.content{
    padding: 0px 100px 30px;
}

@media (max-width:600px) {
    .content{
        padding: 0 20px 10px;
    }
}