<loader-overlay *ngIf="sended"></loader-overlay>
<mat-toolbar>
    <mat-toolbar-row>
      <button mat-dialog-close>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 2.0585L12.59 0.72583L7 6.00926L1.41 0.72583L0 2.0585L5.59 7.34193L0 12.6254L1.41 13.958L7 8.6746L12.59 13.958L14 12.6254L8.41 7.34193L14 2.0585Z" fill="#60757C"/>
        </svg>
      </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="content">
    <h1 class="text-2xl semibold text-tl-dark-gray text-center mb-10">
        {{ 'pages.recovery_passoword.change_password' | translate }}
    </h1>

    <form [formGroup]="formUpdatePassword" class="animated-show-item form-reset lg:mx-4 md:mx-3 sm:mx-2 mx-0" (ngSubmit)="updatePassword()">
        <div class="relative" [ngClass]="{'error-form': (formUpdatePassword.get('old_password')?.invalid && formUpdatePassword.get('old_password')?.touched)}">
            <input id="old_password" autocomplete="off" type="text" formControlName="old_password" maxlength="40" [class]="cssInputBase" />
            <label for="old_password" [class]="cssFloatLabel">
                {{ 'pages.recovery_passoword.current_password' | translate }}
            </label>
            <span [class]="cssSpanValidation" *ngIf="(sended || old_password?.dirty || old_password?.touched) && old_password?.errors">
                {{ getValidationPasswordMsg('old_password') | translate }}
            </span>
        </div>


        <div class="relative mt-6" [ngClass]="{'error-form': (formUpdatePassword.get('new_password')?.invalid && formUpdatePassword.get('new_password')?.touched)}">
            <input id="new_password" autocomplete="off" type="text" formControlName="new_password" maxlength="40" [class]="cssInputBase" />
            <label for="new_password" [class]="cssFloatLabel">
                {{ 'pages.recovery_passoword.new_password' | translate }}
            </label>
            <span [class]="cssSpanValidation" *ngIf="(sended || new_password?.dirty || new_password?.touched) && new_password?.errors">
                {{ getValidationPasswordMsg('new_password') | translate }}
            </span>
        </div>


        <button type="submit" [disabled]="formUpdatePassword.invalid" class="btn-base btn-primary flex flex-row items-center w-full h-10 m-auto justify-center text-medium mt-10 mb-4">
            {{ 'pages.recovery_passoword.update_password' | translate}}
        </button>
    </form>
</div>