<div class="container m-auto p-4 pb-10 min-screen">
    <h1 class="lg:text-3.5xl text-2xl mt-3 mb-6 flex flex-wrap flex-col">
        {{ 'pages.favorites.title' | translate }}
        <button (click)="back()" class="h-[38px] flex items-center justify-start">
            <mat-icon class="w-5 h-5 text-xl">arrow_back</mat-icon>
            <span class="text-base-2 h-3">{{ 'labels.back_to' | translate }}</span>
        </button>
    </h1>

    <div class="flex items-center justify-between">
        <div class="buttons flex items-center justify-start space-x-3 my-5">
            <button class="btn-base bg-tl-primary px-4 flex justify-center" (click)="setViewRender(views.PRODUCTS)" [ngClass]="{'btn-gray': nameComponent !== views.PRODUCTS}">
                <span class="h-5 text-tl-blue  text-sm" [ngClass]="{'!text-tl-dark  opacity-[0.38]': nameComponent !== views.PRODUCTS}">{{ 'pages.favorites.products' | translate }}</span>
            </button>

            <button class="btn-base bg-tl-primary px-4 flex justify-center"  (click)="setViewRender(views.PROFILES)" [ngClass]="{'btn-gray': nameComponent !== views.PROFILES}" >
                <span class="h-5 text-tl-blue text-sm" [ngClass]="{'!text-tl-dark  opacity-[0.38]': nameComponent !== views.PROFILES}">{{ 'pages.favorites.profiles' | translate }}</span>
            </button>
        </div>
    </div>

    <div *ngIf="nameComponent == views.PRODUCTS" class="container-recomendations px-6 grid md:grid-cols-3 lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-6 animated-show-item">
        <card-product [showFavorites]="true" *ngFor="let item of products" [product]="item" [enabledActions]="false" (onRemoveFavorite)="removeProductFavorite($event)" ></card-product>
    </div>

    <no-results  *ngIf="!products.length && nameComponent == views.PRODUCTS" message="pages.favorites.no_have_favorites" [status]="false"></no-results>

    <div *ngIf="nameComponent == views.PROFILES" class="container-recomendations px-6 grid md:grid-cols-3 lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-6 animated-show-item">
        <card-fav-profile  *ngFor="let item of profiles"  [profileFav]="item" (onRemoveFavorite)="removeProfileFavorite($event)"></card-fav-profile>
    </div>

    <no-results  *ngIf="!profiles.length && nameComponent == views.PROFILES" message="pages.favorites.no_have_favorites" [status]="false"></no-results>

</div>
