mat-divider{
    margin: auto !important;
    margin-bottom: 28px !important;
    margin-top: 28px !important;
}
.btn-base{
    max-width: 360px;
}

.construction-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 2rem; 
    text-align: center;
}