<div class="container min-screen m-auto animated-show-item lg:p-0 md:p-0 px-5">

    <h1 class="text-center text-4xl text-tl-blue lg:w-6/12 md:w-8/12 sm:w-12/12 w-12/12 m-auto mt-14">
        {{ 'pages.ods.title' | translate }}
    </h1>

    <div class="content-ods grid grid-cols-8 grid-rows-4 mt-10 dev">
        <div class="col-span-8 flex items-center justify-center pt-3.5 top-info">
            <img src="assets/images/ods/ods_1.svg" alt="" sizes="" srcset="">
            <span class="lg:w-4/12 md:w-4/12 sm:w-9/12 w-9/12 max-w-[425px]">{{ 'pages.ods.goal_1' | translate }}</span>
        </div>

        <div class="col-span-3 goal-item justify-end">
            <span class="lg:w-8/12 md:w-8/12 sm:w-9/12 w-9/12 max-w-[425px] text-right">{{ 'pages.ods.goal_2' | translate }}</span>
            <img src="assets/images/ods/ods_2.svg" alt="" sizes="" srcset="">
        </div>
        <div class="col-span-2 row-span-2 world">
            <img src="assets/images/word.svg" alt="" sizes="" srcset="">
        </div>
        <div class="goal-item col-span-3">
            <img src="assets/images/ods/ods_3.svg" alt="" sizes="" srcset="">
            <span class="lg:w-8/12 md:w-8/12 sm:w-9/12 w-9/12 max-w-[425px]">{{ 'pages.ods.goal_3' | translate }}</span>
        </div>
        <div class="goal-item  col-span-3 justify-end">
            <span class="lg:w-8/12 md:w-8/12 sm:w-9/12 w-9/12 max-w-[425px] text-right">{{ 'pages.ods.goal_4' | translate }}</span>
            <img src="assets/images/ods/ods_4.svg" alt="" sizes="" srcset="">
        </div>
        <div class="goal-item col-span-3">
            <img src="assets/images/ods/ods_5.svg" alt="" sizes="" srcset="">
            <span class="lg:w-8/12 md:w-8/12 sm:w-9/12 w-9/12 max-w-[425px]">{{ 'pages.ods.goal_5' | translate }}</span>
        </div>
        <div class="col-span-8 flex items-center justify-center bottom-info">
            <span class="lg:w-4/12 md:w-4/12 sm:w-9/12 w-9/12 max-w-[330px]">{{ 'pages.ods.goal_6' | translate }}</span>
            <img src="assets/images/ods/ods_6.svg" alt="" sizes="" srcset="" class="mr-[34%]">
        </div>
    </div>
</div>
